.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../../../../../assets/bg-classic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.send-arrow {
  width: 70px;
  cursor: pointer;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions h3 {
  font-size: 20px;
  text-shadow: 1px 1px 2px #000;
  color: #fae100;
}

.results {
  background-color: rgba(31, 29, 29, 0.89);
  height: 80vh;
  overflow-y: scroll;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 2px;
  border: 1px solid rgb(202, 199, 38);
  color: #fff;
  margin-bottom: 50px;
  width: 45vw;
}

.points-overview {
  margin-bottom: 20px;
}

.results::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
  margin: 13px;
}

.results::-webkit-scrollbar-thumb {
  background-color: #555; /* Set the color of the scrollbar thumb */
  border-radius: 4px; /* Set the border radius of the thumb */
  margin: 13px;
}

.results::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Set the color of the thumb on hover */
}

.results::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}

.question-overview {
  margin-bottom: 20px;
}

.results-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.correct {
  color: rgb(34, 126, 34);
}

.wrong {
  color: rgb(204, 42, 42);
}

@media only screen and (max-width: 1200px) {
  .results {
    width: 95vw;
  }
}
