<div class="container">
    <div class="question-container">
        <div class="question">When was the first email sent?</div>
        <form class="answer-container"><input type="number" class="number-input" placeholder="Your answer" autofocus><button type="submit" (click)="submitAnswer()"></button><img src="../../../../../assets/arrow.png" alt="send" (click)="submitAnswer()" class="send-arrow"></form>
    </div>
    <div class="message-row" *ngFor="let q of randomizedNumericalQuestions$ | async">
        {{q.question}}
    </div>
</div>