<div class="container">
  <app-header></app-header>

  <div class="title-page">
    <img src="../../../../../assets/add.png" alt="ribbon" class="ribbon" />
  </div>

  <dialog class="modal" id="modal">
    <h2>Are you sure you want to logout?</h2>
    <div class="buttons">
      <button autofocus="false" class="logout-btn" (click)="logout()">
        Logout
      </button>
      <button autofocus="false" class="back-btn">Go back</button>
    </div>
  </dialog>

  <div class="question-container">
    <div class="buttons">
      <div class="numerical" routerLink="/add-numerical">
        Numerical Question
      </div>
      <div class="multi" routerLink="/add-multi">Multi-answer Question</div>
    </div>
  </div>
</div>
