.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../../../../../assets/b.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.question-container{
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    border-radius: 5px;
    background: url('../../../../../assets/scroll.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.question{
    font-size: 26px;
    font-weight: 700;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(164, 173, 128);
}

.answers{
    width: 50%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.answer{
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: #500838;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    flex-wrap: wrap;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(164, 173, 128);
    text-align: center;
    height: 80px;
    cursor: pointer;
    font-weight: 700;
}