<div class="container">
    <div class="question-container">
        <div class="question">How do you print the string "hello world" in Python?</div>
        <div class="answers">
            <div class="answer" id="answer-1" (click)="selectAnswer1()">std::cout&lt;&lt;"hello world";</div>
            <div class="answer" id="answer-2" (click)="selectAnswer2()">print("hello world")</div>
            <div class="answer" id="answer-3" (click)="selectAnswer3()">System.WriteLine("hello world");</div>
            <div class="answer" id="answer-4" (click)="selectAnswer4()">puts 'hello world'</div>
            <img src="../../../../../assets/arrow.png" alt="send" (click)="submitAnswer()" class="send-arrow">
        </div>
    </div>
</div>