<div class="container">
    <app-header></app-header>
    <div class="title-page">
        <img src="../../../../../assets/ribbon-profile.png" alt="ribbon" class="ribbon">
    </div>
    
    <div [formGroup]="form" class="login-container">
        <div class="avatar"><img src="http://localhost:8080/avatar/{{avatar}}" alt="avatar" (click)="choose()">
            <h2>{{capitalizedUsername}}</h2>
        </div>

        <div class="login-row">
            <label for="username">Rank</label>
            <label for="username" class="small-label">{{playerRank}}</label>
        </div>
        
        <div class="login-row">
            <label for="username">Points</label>
            <label for="username" class="small-label">{{points}}</label>
        </div>

        <div class="login-row">
            <label for="username">Member since</label>
            <label for="username" class="small-label">{{createdAt}}</label>
        </div>

        <div class="login-row">
            <label for="username">Password</label>
            <input type="password" formControlName="oldpassword" placeholder="Enter your old password">

            <div class="error-message"></div>
        </div>
        <div class="login-row">
            <label for="password">New Password</label>
            <input type="password" formControlName="newpassword" placeholder="Enter a new password">

            <div class="error-message"></div>
        </div>
        <div class="buttons-container">
            <button type="button" class="login-btn">Change password</button>
            <button type="button" class="upload-btn" id="upload-btn" (click)="upload()">Upload avatar</button>
        </div>

        <input type="file" name="avatar" (input)="fileChosen($event)" (change)="onFileSelected($event)" id='avatarInput' [hidden]="true">
    </div>
</div>