header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.links{
    margin-right: 100px;
}

a{
    margin-left: 50px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img{
    width: 130px;
    height: auto;
    margin-left: 100px;
    cursor: pointer;
}