.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: rgb(40,80,45);
background: linear-gradient(45deg, rgba(40,80,45,1) 0%, rgba(90,152,99,1) 53%, rgba(90,152,99,1) 54%, rgba(97,150,113,1) 100%);
}

.play-btn{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    background-color: rgb(98, 151, 98);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    font-family: 'Comic Sans MS';
    font-weight: 700;
    font-size: 70px;
}