.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(97, 91, 91);
    background: url('../../../../../assets/bg-classic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

app-chat{
    position: absolute;
    left: 0;
    top: 8vh;
}

.play-btn{
    cursor: pointer;
    height: 80px;
    width: 280px;
    border-radius: 5px;
    border: 4px solid rgb(55, 88, 55);
    font-weight: 700;
    margin-top: 70px;
    background-color: rgb(69, 118, 75);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.2s;
    font-size: 36px;
}

.classic-mode-container{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.game-logo{
    margin-top: 5vh;
}

.game-info{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-info h2, h4{
    text-shadow: 1px 1px 2px #000000;
}

.play-btn:hover{
    background-color: rgb(59, 99, 63);
}

.game-modes{
    background-color: rgb(46, 44, 44);
    width: 15vw;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    height: 90vh;
    position: absolute;
    right: 0;
    top: 10vh;
}

.game-modes h2{
    font-size: 20px;
}

.game-btn{
    width: 11vw;
    height: 55px;
    color: #000;
    background-color: rgb(182, 179, 40);
    border: 3px solid rgb(155, 153, 46);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    transition: 0.2s;
}

.game-btn:hover{
    background-color: rgb(240, 236, 13);
}

.ribbon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 400px;
    height: auto;
    margin: 5vh 0 2vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modes-list{
    display: flex;
    gap: 30px;
    margin: 20px 0;
}