.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../../../../../assets/b.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

app-chat{
    position: absolute;
    left: 0;
    top: 10vh;
}

.play-btn{
    cursor: pointer;
    height: 100px;
    width: 100%;
    border: 0;
    font-weight: 700;
    background-color: rgb(69, 118, 75);
    color: rgb(237, 231, 231);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.2s;
    position: absolute;
    bottom: 0;
    font-size: 30px;
}

.classic-mode-container{
    height: 90vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../../../../assets/bg-classic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.war-mode-container{
    height: 90vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../../../../assets/bg-war.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.training-mode-container{
    height: 90vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../../../../assets/bg-training.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.play-btn:hover{
    background-color: rgb(59, 99, 63);
}

.game-modes{
    background-color: rgb(236, 233, 233);
    width: 20vw;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    height: 90vh;
    position: absolute;
    right: 0;
    top: 10vh;
}

.game-modes h2{
    font-size: 20px;
}

.game-btn{
    width: 15vw;
    height: 70px;
    color: #fff;
    background-color: rgb(38, 58, 65);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    transition: 0.3s;
}

.ribbon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 400px;
    height: auto;
    margin: 5vh 0 2vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}