<div class="container">
    <div class="questions" *ngFor="let q of randomizedMultiAnswerQuestions$ | async; let i = index">
        <app-question [title]="q.question" 
                      [answers]="q.answers"
                      [answer]="q.correct"
                      *ngIf="i===questionNumber && i<5">
        </app-question>
    </div>

    <div class="questions" *ngFor="let q of randomizedNumericalQuestions$ | async; let i = index">
        <app-number-question [title]="q.question" 
                      [answer]="q.answer"
                      *ngIf="i===questionNumber-5 && questionNumber>4 && questionNumber < 10">
        </app-number-question>
    </div>

    <div class="results" *ngIf="questionNumber > 9">
        <div class="results-title">Round results</div>
        <div class="results-row">Correct multi: {{correctMulti}}</div>
        <div class="results-row">Correct numerical: {{correctNumerical}}</div>
        <div class="results-row">Earned points: {{correctMulti * 0.3 + correctNumerical * 0.8}}</div>
    </div>
    <img src="../../../../../assets/arrow.png" alt="send" (click)="submitAnswer()" class="send-arrow">
</div>