<div class="container">
  <app-header></app-header>

  <app-loading-spinner *ngIf="loading"></app-loading-spinner>

  <div class="title-page">
    <img src="../../../../../assets/add.png" alt="ribbon" class="ribbon" />
  </div>

  <dialog class="modal" id="modal">
    <h2>Are you sure you want to logout?</h2>
    <div class="buttons">
      <button autofocus="false" class="logout-btn" (click)="logout()">
        Logout
      </button>
      <button autofocus="false" class="back-btn">Go back</button>
    </div>
  </dialog>

  <form [formGroup]="form" class="form-container">
    <div class="form-row">
      <label for="username">Question</label>
      <input
        formControlName="question"
        placeholder="Add an interesting question"
      />

      <div class="error-message"></div>
    </div>

    <div class="form-row">
      <label for="answer">Answer</label>
      <input
        type="number"
        formControlName="answer"
        placeholder="Correct Answer"
        class="answer-choice"
      />

      <div class="error-message"></div>
    </div>

    <div class="buttons-container">
      <button type="submit" class="submit-btn" (click)="addQuestion()">
        Add question
      </button>
    </div>

    <div *ngIf="success" class="success">Question successfully added</div>
  </form>
</div>
