.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background: url("../../../../../assets/bg-classic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-page {
  margin-top: 30vh;
}
