<div class="container">
    <app-header></app-header>

    <div class="title-page">
        <img src="../../../../../assets/rankings.png" alt="ribbon" class="ribbon">
    </div>

    <div class="rankings-container">
        <div class="table-header">
            <div class="user-place">Rank</div>
            <div class="user-name">User</div>
            <div class="user-rank">Rank</div>
            <div class="user-points">Points</div>
        </div>
        <div class="user-info" *ngFor="let user of users$ | async; let i = index">
            <div class="user-place">#{{(i+1) + 10 * rankMultiply}}</div>
            <div class="user-name">{{user.username.charAt(0).toUpperCase()}}{{user.username.slice(1)}}</div>
            <div class="user-rank">{{user.points == 0 ? "Beginner" : "Wizard"}}</div>
            <div class="user-points">{{user.points}}</div>
        </div>

        <div class="pages">
            <div *ngFor="let page of pagesArray" class="pageNum" (click)="onPageChange(page)">{{page}}</div>
        </div>
        
    </div>   
    
</div>