.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background: url("../../../../../assets/bg-classic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rankings-container {
  background-color: rgba(31, 29, 29, 0.89);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 2px;
  border: 1px solid rgb(202, 199, 38);
  color: #fff;
  width: 40vw;
  height: 63vh;
  font-weight: 500;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info,
.table-header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-header {
  color: rgb(202, 199, 38);
  border-bottom: 1px solid rgb(202, 199, 38);
}

.user-info:nth-of-type(2n-1):hover {
  background-color: rgb(15, 15, 15);
}

.user-info:nth-of-type(2n):hover {
  background-color: rgb(15, 15, 15);
}

.user-info:nth-of-type(2n-1) {
  background-color: rgba(31, 29, 29, 0.89);
}

.user-name,
.user-rank,
.user-points,
.user-place {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 33%;
}

.title-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.avatar-img {
  width: 30px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 50%;
  border: 2px solid rgb(17, 17, 17);
}

.pages {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pageNum {
  cursor: pointer;
}

.modal {
  background-color: rgba(31, 29, 29, 0.89);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 2px;
  border: 1px solid rgb(202, 199, 38);
  color: #fff;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 25vw;
  gap: 25px;
  top: 30vh;
  left: 37.5vw;
}

.modal::backdrop {
  background-color: #000000;
  opacity: 0.7;
}

.modal:not([open]) {
  display: none;
}

.modal h2 {
  font-size: 18px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.logout-btn {
  cursor: pointer;
  height: 30px;
  width: 5vw;
  border-radius: 2px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(201, 190, 41);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.2s;
  font-size: 12px;
  font-weight: 500;
}

.back-btn {
  cursor: pointer;
  height: 30px;
  width: 5vw;
  border-radius: 2px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(184, 184, 184);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.2s;
  font-size: 12px;
  font-weight: 500;
}

@media only screen and (max-width: 1200px) {
  .modal {
    left: 10vw;
    width: 80vw;
  }

  .logout-btn {
    width: 15vw;
  }

  .back-btn {
    width: 15vw;
  }

  .rankings-container {
    width: 90vw;
  }
}
